.container{
    width: 100%;
    height: 500px;
}

.row1, .row2, .row3{
    height: 150px;
    margin: 20px 20px 20px 20px;
    display: block;
    width: 100%;
}


.row1 .col{
    background-color: yellow;  
}

.row2 .col{
    height: 150px;
    background-color: rgb(247, 137, 155);

}

.row3 .col{
    background-color: rgb(111, 111, 207);

}

/* -----------------------Mobile--------------------------*/
@media screen
    and (min-device-width: 0px)
    and (max-device-width: 321px)
    and (-webkit-min-device-pixel-ratio:1) {

        .row1 .col{
            display: block;
            width: 92%;
            height: 70px;
            margin: 15px 10px;
        }

        .row2 .col{
            width: 92%;
            margin:10px;
        }

        .row3 .col{
            display: block;
            height: 30.5%;
            width: 92%;
            margin: 15px 10px;
        }
}

/* -----------------------Tablet--------------------------*/
@media screen
    and (min-device-width: 320px)
    and (max-device-width: 770px)
    and (-webkit-min-device-pixel-ratio:1) {


        .row1 .col{
            display: inline-block;
            width: 47%;
            height: 100%;
            margin:10px;
        }

        .row2 .col{
            width: 97%;
            margin:10px;
        }

        .row3 .col{
            display: block;
            height: 33.5%;
            width: 97%;
            margin: 10px;
        }
}

/* -----------------------Laptop--------------------------*/
@media screen
    and (min-device-width: 770px)
    and (max-device-width: 1024px)
    and (-webkit-min-device-pixel-ratio:1) {

        .row1 .col{
            display: inline-block;
            width: 47.5%;
            height: 100%;
            margin: 10px;
        }

        .row2 .col{
            width: 97%;
            margin:30px 10px;
        }

        .row3 .col{
            display: inline-block;
            height: 32.5%;
            width: 97%;
            margin: 10px 10px;
        }



        
}